<section class="hero">
  <div class="hero__container">
    <div class="hero__container-text">
      <h1><strong>Cálculo proposicional</strong></h1>
    </div>
    <div class="hero__container-arrow">
      <a href="proposition#theory">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 0 24 24"
          width="24px"
          fill="#ffffff"
        >
          <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
          <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" />
        </svg>
      </a>
    </div>
  </div>
</section>
<section id="theory">
  <div class="container-small">
    <div class="parragraf">
      <h1><strong>Cálculo proposicional</strong></h1>
      <p>
        Una proposición es cualquier frase que tenga un valor de verdad
        definodo, ya sea verdadero o falso. Por ejemplo:
      </p>
      <p>
        Está lloviendo. A esta proposición podemos llamarle
        <strong>"p"</strong>, y podrá ser verdadera o falsa.
      </p>
    </div>
    <div class="parragraf">
      <h2><strong>Tabla de la verdad</strong></h2>
      <p>
        Son tablas que representan las posibles salidas que puede tener un
        cálculo proposicional en función de unos valores de entrada. En la
        siguiente imagen podemos ver una tabla de la verdad que nos muestra los
        posibles resultados de <strong>p^q</strong>
      </p>
      <br />
      <img
        style="width: 300px"
        class="image-character"
        src="../../../assets/img/detail_page/proposition/true_table_1.png"
        alt="true table"
      />
    </div>

    <div class="parragraf">
      <h2><strong>Tautología, contradicción y contingencia</strong></h2>
      <p>
        La <strong>tautología</strong> tiene lugar cuando todos los resultados
        de la tabla de la verdad son verdaderos.
      </p>
      <p>
        La <strong>contradicción</strong> tiene lugar cuando todos los
        resultados de la tabla de la verdad son falsos.
      </p>
      <p>
        La <strong>contingencia</strong> tiene lugar cuando en los resultados de
        tabla de la verdad encontramos valores verdaderos y falsos.
      </p>
      <br />
      <p>Ejemplo de contingencia:</p>
      <br />
      <img
        style="width: 240px"
        class="image-character"
        src="../../../assets/img/detail_page/proposition/contingency_example_1.png"
        alt="true table"
      />
    </div>
  </div>
</section>
