<section class="hero">
  <div class="hero__container">
    <div class="hero__container-text">
      <h1>
        <strong>{{ "PROPOSITION.HERO_TITLE" | translate }}</strong>
      </h1>
    </div>
    <div class="hero__container-arrow">
      <a href="proposition#theory">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 0 24 24"
          width="24px"
          fill="#ffffff"
        >
          <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
          <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" />
        </svg>
      </a>
    </div>
  </div>
</section>
<section id="theory">
  <div class="container-small">
    <div class="parragraf">
      <h2 class="margin-block-end">
        <strong>{{ "PROPOSITION.P1_TITLE" | translate }}</strong>
      </h2>
      <p>
        {{ "PROPOSITION.P1_CONTENT_1" | translate }}
      </p>
      <p [innerHTML]="'PROPOSITION.P1_CONTENT_2' | translate"></p>
    </div>
    <div class="parragraf">
      <h2 class="margin-block-end">
        <strong>{{ "PROPOSITION.P2_TITLE" | translate }}</strong>
      </h2>
      <p [innerHTML]="'PROPOSITION.P2_CONTENT_1' | translate"></p>
      <br />
      <img
        style="width: 300px"
        class="image-character"
        src="../../../assets/img/detail_page/proposition/true_table.png"
        alt="true table"
      />
    </div>

    <div class="parragraf">
      <h2 class="margin-block-end">
        <strong>{{ "PROPOSITION.P3_TITLE" | translate }}</strong>
      </h2>
      <p [innerHTML]="'PROPOSITION.P3_CONTENT_1' | translate"></p>
      <p [innerHTML]="'PROPOSITION.P3_CONTENT_2' | translate"></p>
      <p [innerHTML]="'PROPOSITION.P3_CONTENT_3' | translate"></p>
      <p>{{ "PROPOSITION.P3_CONTENT_4" | translate }}</p>
      <br />
      <img
        style="width: 240px"
        class="image-character"
        src="../../../assets/img/detail_page/proposition/contingency_example.png"
        alt="true table"
      />
    </div>
  </div>
</section>
