<h1>Cálculo proposicional</h1>
<div>
  <h3>Descripción</h3>

  <p>
    Una proposición es cualquier frase que tenga un valor de verdad definodo, ya
    sea verdadero o falso. Por ejemplo:
  </p>
  <p>
    Está lloviendo. A esta proposición podemos llamarle "p", y podrá ser
    verdadera o falsa.
  </p>
</div>

<div>
  <h3>Tabla de la verdad</h3>
  <p>
    Son tablas que representan las posibles salidas que puede tener un cálculo
    proposicional en función de unos valores de entrada. En la siguiente imagen
    podemos ver una tabla de la verdad que nos muestra los posibles resultados
    de p^q
  </p>
  <img
    src="../../../assets/img/detail_page/proposition/true_table.png"
    alt="true table"
  />
</div>

<div>
  <h3>Tautología, contradicción y contingencia</h3>
  <p>
    La <strong>tautología</strong> tiene lugar cuando todos los resultados de la
    tabla de la verdad son verdaderos.
  </p>
  <p>
    La <strong>contradicción</strong> tiene lugar cuando todos los resultados de
    la tabla de la verdad son falsos.
  </p>
  <p>
    La <strong>contingencia</strong> tiene lugar cuando en los resultados de
    tabla de la verdad encontramos valores verdaderos y falsos.
  </p>
  <p>Ejemplo de contingencia:</p>
  <img
    src="../../../assets/img/detail_page/proposition/contingency_example.png"
    alt="true table"
  />
</div>
