<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong
        >Calculadora de tablas de la verdad para el apoyo a estudiantes y
        profesores</strong
      >
      es el TFG desarrollado por
      <a href="https://www.linkedin.com/in/epitzalis" target="_blank"
        >Efisio Pitzalis Morillas</a
      >
      para la
      <a href="https://www.salleurl.edu" target="_blank"
        >La Salle Universidad Ramón Llull</a
      >.
    </p>
    <p>Grado en Técnicas de Aplicaciones de Software</p>
  </div>
</footer>
