<footer class="footer">
  <div class="footer__container container">
    <div class="footer__container-title">
      <h2>
        <strong>{{ "COMMONS.TITLE" | translate }}.</strong>
      </h2>
    </div>
    <div class="footer__container-credits">
      <div>
        <p>
          {{ "FOOTER.TFG_BY" | translate }}
          <a
            class="link"
            href="https://www.linkedin.com/in/epitzalis"
            target="_blank"
            >{{ "COMMONS.AUTHOR" | translate }}</a
          >
          {{ "FOOTER.TFG_TO" | translate }}
          <a class="link" href="https://www.salleurl.edu" target="_blank">{{
            "COMMONS.UNIVERSITY" | translate
          }}</a
          >.
        </p>
        <br />
        <p>{{ "COMMONS.NAME_DEGREE" | translate }}.</p>
      </div>
    </div>
  </div>
</footer>
