<footer class="footer">
  <div class="footer__container container">
    <div class="footer__container-title">
      <h2>
        <strong>Módulo matemático académico de tablas de la verdad.</strong>
      </h2>
    </div>
    <div class="footer__container-credits">
      <div>
        <p>
          TFG desarrollado por
          <a
            class="link"
            href="https://www.linkedin.com/in/epitzalis"
            target="_blank"
            >Efisio Pitzalis Morillas</a
          >
          para la
          <a class="link" href="https://www.salleurl.edu" target="_blank"
            >La Salle Universidad Ramón Llull</a
          >.
        </p>
        <br />
        <p>Grado en Técnicas de Aplicaciones de Software.</p>
      </div>
    </div>
  </div>
</footer>
