<div class="header">
  <div class="header__container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" routerLink="/">
          <img src="../../../assets/img/logos/la_salle.png" />
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasic"
          [class.is-active]="isOpen"
          (click)="onClickBurger()"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasic" class="navbar-menu" [class.is-active]="isOpen">
        <div class="navbar-start">
          <a
            class="navbar-item"
            [routerLink]="['/']"
            [routerLinkActiveOptions]="{ exact: true }"
            [routerLinkActive]="'is-active'"
          >
            {{ "HEADER.CALCULATION" | translate }}
          </a>
          <a
            class="navbar-item"
            [routerLink]="['/boole']"
            [routerLinkActive]="'is-active'"
          >
            {{ "HEADER.BOOLE" | translate }}
          </a>

          <a
            class="navbar-item"
            [routerLink]="['/proposition']"
            [routerLinkActive]="'is-active'"
          >
            {{ "HEADER.PROPOSITION" | translate }}
          </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">{{ "LANGUAGE.SPANISH" | translate }}</a>
            <div class="navbar-dropdown">
              <a class="navbar-item">{{ "LANGUAGE.SPANISH" | translate }}</a>
              <a class="navbar-item">{{ "LANGUAGE.CATALAN" | translate }}</a>
              <a class="navbar-item">{{ "LANGUAGE.ENGLISH" | translate }}</a>
              <a class="navbar-item">{{ "LANGUAGE.GERMAN" | translate }}</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
