<div class="header">
  <div class="header__container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" routerLink="/">
          <img src="../../../assets/img/logos/la_salle.png" />
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasic"
          [class.is-active]="isOpen"
          (click)="onClickBurger()"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasic" class="navbar-menu" [class.is-active]="isOpen">
        <div class="navbar-start">
          <a
            class="navbar-item"
            [routerLink]="['/']"
            [routerLinkActiveOptions]="{ exact: true }"
            [routerLinkActive]="'is-active'"
          >
            {{ "HEADER.CALCULATION" | translate }}
          </a>
          <a
            class="navbar-item"
            [routerLink]="['/boole']"
            [routerLinkActive]="'is-active'"
          >
            {{ "HEADER.BOOLE" | translate }}
          </a>

          <a
            class="navbar-item"
            [routerLink]="['/proposition']"
            [routerLinkActive]="'is-active'"
          >
            {{ "HEADER.PROPOSITION" | translate }}
          </a>
        </div>

        <div class="navbar-end">
          <div
            *ngIf="selectedLanguage"
            class="navbar-item has-dropdown is-hoverable"
          >
            <a class="navbar-link">
              <img
                class="flag"
                src="../../../assets/img/logos/countries/{{ selectedFlag }}.svg"
                [alt]="selectedLanguage"
              />
              <span>
                {{ selectedLanguage | translate }}
              </span>
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" (click)="onChangeLanguage('es')">
                <img
                  class="flag"
                  src="../../../assets/img/logos/countries/es.svg"
                  alt="es"
                />
                <span>
                  {{ "LANGUAGE.ES" | translate }}
                </span>
              </a>
              <a class="navbar-item" (click)="onChangeLanguage('ca')">
                <img
                  class="flag"
                  src="../../../assets/img/logos/countries/ca.svg"
                  alt="ca"
                />
                <span>
                  {{ "LANGUAGE.CA" | translate }}
                </span>
              </a>
              <a class="navbar-item" (click)="onChangeLanguage('en')">
                <img
                  class="flag"
                  src="../../../assets/img/logos/countries/en.svg"
                  alt="en"
                />
                <span>
                  {{ "LANGUAGE.EN" | translate }}
                </span>
              </a>
              <a class="navbar-item" (click)="onChangeLanguage('de')">
                <img
                  class="flag"
                  src="../../../assets/img/logos/countries/de.svg"
                  alt="de"
                />
                <span>
                  {{ "LANGUAGE.DE" | translate }}
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
