<section class="hero">
  <div class="hero__container">
    <div class="hero__container-text">
      <h1>
        <strong>{{ "BOOLE.HERO_TITLE" | translate }}</strong>
      </h1>
    </div>
    <div class="hero__container-arrow">
      <a href="boole#theory">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 0 24 24"
          width="24px"
          fill="#ffffff"
        >
          <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
          <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" />
        </svg>
      </a>
    </div>
  </div>
</section>
<section id="theory">
  <div class="container-small">
    <div class="parragraf">
      <h2 class="margin-block-end">
        <strong>{{ "BOOLE.P1_TITLE" | translate }}</strong>
      </h2>
      <p>{{ "BOOLE.P1_CONTENT_1" | translate }}.</p>
      <br />
      <p>{{ "BOOLE.P1_CONTENT_2" | translate }}.</p>
      <br />
      <h2 class="margin-block-end">
        <strong>{{ "BOOLE.P2_TITLE" | translate }}</strong>
      </h2>
      <p>{{ "BOOLE.P2_CONTENT_1" | translate }}.</p>
      <br />
      <img
        style="width: 320px"
        class="image-character"
        src="../../../assets/img/detail_page/boole/true_table.png"
        alt="true table"
      />
    </div>
    <div class="parragraf">
      <h2 class="margin-block-end">
        <strong>{{ "BOOLE.P3_TITLE" | translate }}</strong>
      </h2>
      <p>{{ "BOOLE.P3_CONTENT_1" | translate }}.</p>
      <br />
      <img
        style="width: 460px"
        class="image-character"
        src="../../../assets/img/detail_page/boole/canonical.png"
        alt="canonical"
      />
    </div>

    <div class="parragraf">
      <h2 class="margin-block-end">
        <strong>{{ "BOOLE.P4_TITLE" | translate }}</strong>
      </h2>
      <p [innerHTML]="'BOOLE.P4_CONTENT_1' | translate"></p>
      <br />
      <p [innerHTML]="'BOOLE.P4_CONTENT_2' | translate"></p>
      <br />
      <img
        style="width: 320px"
        class="image-character"
        src="../../../assets/img/detail_page/boole/minterm_maxterm.png"
        alt="canonical"
      />
    </div>
  </div>
</section>
