.parragraf {
  padding: 40px;
  border-radius: 10px;
}

.table {
   padding: 40px;
   background-color: #f5f5f5;
   border-radius: 10px;
   width: fit-content;


  p {
    font-size: 20px;
    font-weight: 600;
  }

   &-grid {
     display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .first-line {
        border-bottom: solid;
      }

      &-column {

        &-text {
          &::after {
            content: ' → minterm';
          }
        }
      }
   }
}

.image-character {
  @media (max-width: 769px) {
    width: 100% !important;
  }
}
