<div class="calculator flex-container-column flex-row-gap">
  <div class="row">
    <input
      class="flex-full"
      type="text"
      onCopy="return false"
      onDrag="return false"
      onDrop="return false"
      onPaste="return false"
      onkeypress="return false"
      autocomplete="off"
    />
  </div>

  <div class="row">
    <div class="flex-half flex-container-row flex-column-gap">
      <button class="flex-half btn-clear">AC</button>
      <button class="flex-half btn-back">DEL</button>
    </div>
    <button class="flex-half">=</button>
  </div>

  <div class="row">
    <button class="flex-quarter">p</button>
    <button class="flex-quarter">q</button>
    <button class="flex-quarter">r</button>
    <button class="flex-quarter">s</button>
  </div>

  <div class="row">
    <button class="flex-half">~</button>
    <div class="flex-half flex-container-row flex-column-gap">
      <button class="flex-half">v</button>
      <button class="flex-half">^</button>
    </div>
  </div>

  <div class="row">
    <button class="flex-half">(</button>
    <button class="flex-half">)</button>
  </div>

  <div class="row">
    <button class="flex-half">Izquierda</button>
    <button class="flex-half">Derecha</button>
  </div>
</div>
