<div class="calculator box flex-container-column flex-row-gap">
  <div class="row">
    <input
      #inputCalculator
      class="flex-full input"
      type="text"
      onCopy="return false"
      onDrag="return false"
      onDrop="return false"
      onPaste="return false"
      onkeypress="return false"
      autocomplete="off"
    />
  </div>

  <div class="row">
    <div class="flex-half flex-container-row flex-column-gap">
      <button class="flex-half btn-clear button is-danger" (click)="onClear()">
        AC
      </button>
      <button class="flex-half btn-back button is-warning" (click)="onBack()">
        DEL
      </button>
    </div>
    <button class="flex-half button is-success" (click)="onCalculate()">
      =
    </button>
  </div>

  <div class="row">
    <button
      class="flex-quarter button"
      (click)="onAddCharacter(typeCalculator === 'boole' ? 'a' : 'p')"
    >
      {{ typeCalculator === "boole" ? "a" : "p" }}
    </button>
    <button
      class="flex-quarter button"
      (click)="onAddCharacter(typeCalculator === 'boole' ? 'b' : 'q')"
    >
      {{ typeCalculator === "boole" ? "b" : "q" }}
    </button>
    <button
      class="flex-quarter button"
      (click)="onAddCharacter(typeCalculator === 'boole' ? 'c' : 'r')"
    >
      {{ typeCalculator === "boole" ? "c" : "r" }}
    </button>
    <button
      class="flex-quarter button"
      (click)="onAddCharacter(typeCalculator === 'boole' ? 'd' : 's')"
    >
      {{ typeCalculator === "boole" ? "d" : "s" }}
    </button>
  </div>

  <div class="row">
    <button
      class="flex-half button"
      (click)="onAddCharacter(typeCalculator === 'boole' ? '¬' : '~')"
    >
      {{ typeCalculator === "boole" ? "¬" : "~" }}
    </button>
    <div class="flex-half flex-container-row flex-column-gap">
      <button
        class="flex-half button"
        (click)="onAddCharacter(typeCalculator === 'boole' ? '+' : 'v')"
      >
        {{ typeCalculator === "boole" ? "+" : "v" }}
      </button>
      <button
        class="flex-half button"
        (click)="onAddCharacter(typeCalculator === 'boole' ? 'x' : '^')"
      >
        {{ typeCalculator === "boole" ? "x" : "^" }}
      </button>
    </div>
  </div>

  <div class="row">
    <button class="flex-half button" (click)="onAddCharacter('(')">(</button>
    <button class="flex-half button" (click)="onAddCharacter(')')">)</button>
  </div>
</div>

<div class="notification is-warning is-size-5">
  <!-- <button class="delete"></button> -->
  Ha introducido una sentencia incorrecta
</div>
