
.calculator {
    min-width: 200px;
    max-width: 600px;
    text-transform: uppercase;

    border: 2px solid gray;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px #80808026;


    .row {
        display: flex;
        flex-direction: row;
        column-gap: 10px;

        * {
            flex-grow: 1;
        }
        input {
            flex-basis: 100%;
            &:disabled {
                background-color: white;
            }
        }
        button {
            cursor: pointer;
        }
    }
}
