
.calculator {
    min-width: 200px;
    max-width: 600px;
    text-transform: uppercase;
    padding: 20px;

    .row {
        display: flex;
        flex-direction: row;
        column-gap: 10px;

        * {
            flex-grow: 1;
        }
        input {
            flex-basis: 100%;
            &:disabled {
                background-color: white;
            }
        }
        button {
            cursor: pointer;
        }
    }
}
