<div class="container">
  <div class="tabs is-large">
    <ul>
      <li
        [class.is-active]="typeCalculator === booleType"
        (click)="onChangeSelect(booleType)"
      >
        <a>{{ "COMMONS.BOOLE" | translate }}</a>
      </li>
      <li
        [class.is-active]="typeCalculator === propositionType"
        (click)="onChangeSelect(propositionType)"
      >
        <a>{{ "COMMONS.PROPOSITION" | translate }}</a>
      </li>
    </ul>
  </div>

  <app-calculator [iTypeCalculator]="typeCalculator"></app-calculator>
</div>
