@import "bulma/bulma.sass";

html, 
body {
    height: 100%;
}

.flex-full {
    flex-basis: 100%;
}

.flex-half {
    flex-basis: 50%;
}

.flex-quarter {
    flex-basis: 25%;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-column-gap {
    column-gap: 10px;
}

.flex-row-gap {
    row-gap: 10px;
}

