/* Init Bulma Imports */
// @import "bulma/sass/utilities/_all.sass";
// @import "bulma/sass/elements/button.sass";
// @import "bulma/sass/elements/container.sass";
// @import "bulma/sass/elements/box.sass";
// @import "bulma/sass/elements/notification.sass";
// @import "bulma/sass/elements/table.sass";
// @import "bulma/sass/form/shared.sass";
// @import "bulma/sass/form/input-textarea.sass";
@import "bulma/bulma.sass";
// @import "bulma/sass/components/tabs.sass";
// @import "bulma/sass/components/navbar.sass";
// @import "bulma/sass/components/dropdown.sass";
// @import "bulma/sass/helpers/typography.sass";
/* End Bulma Imports */

html, 
body {
    height: 100%;
}

.flex-full {
    flex-basis: 100%;
}

.flex-half {
    flex-basis: 50%;
}

.flex-quarter {
    flex-basis: 25%;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-column-gap {
    column-gap: 10px;
}

.flex-row-gap {
    row-gap: 10px;
}

